.content {
  dl {
    dt { color:$green; font-weight:bold; margin-bottom:1em; }
    dd {
      margin:0 0 2em; border-bottom:1px solid $lgrey; padding-bottom:2em;
      &:last-child { border-bottom:none; margin-bottom:0; padding-bottom:0; }
      ul { padding-left:1em; }
    }
  }
}
