#page-footer {
  background:$green; padding:11rem 0 8rem; position:relative; color:white; margin:3em 0 0;
  // &:after { content:''; position:absolute; top:0; left:50%; margin-left:-3em; width:0; height:0; border-color:white transparent transparent transparent; border-width:3em 3em 0 3em; border-style:solid; }
  .block-links {
    section {
      ul {
        a {
          color:white; transition:background-color 0.1s; padding:0.5rem; display:inline-block;
          &:hover { background:darken($green,5%); }
        }
      }
    }
  }
  section {
    border-top:7px solid darken($green,5%); padding-top:2rem; margin-bottom:8rem;
    ul { list-style:none; padding:0; }
    li { margin:0 0 1rem; }
  }
  &.copy a { color:white; }
  .fa { width:2.2rem; }
  .footnote {
    text-align:center; font-size:$sm;
    a { color:white; }
  }
  @media (max-width:$break-large - 1px) {
    text-align:center;
    section { margin-bottom:4rem; }
  }
}
