.clearfix { display:table; line-height:0; content:""; clear:both; }
.row {
    max-width:$max-width + $col-gutter; margin:0 auto;
    .row { margin-left:-$col-gutter; margin-right:-$col-gutter; }
    .col { @include box-sizing(border-box); padding-left:$col-gutter; padding-right:$col-gutter; min-height:1px; }
    &:after { @extend .clearfix; }
}

//hide mobile
@media (max-width:979px) {
  .hide-mob { display:none!important; }
    @for $i from 1 through 12 {
      .mob-#{$i} { width:$i/12*100%; float:left; }
    }
}

//small grid class
@media (max-width:$break-small) {
    .hide-sm { display:none!important; }
    @for $i from 1 through 12 {
      .sm-#{$i} { width:$i/12*100%; float:left; }
    }
}

//medium grid classes
// @media (min-width:$break-large + 1px) and (max-width:$break-large - 1px) {
//     .hide-md { display:none!important; }
//     @for $i from 1 through 12 {
//       .md-#{$i} { width:$i/12*100%; float:left; }
//     }
// }

//large grid classes
@media (min-width:$break-large) {
    .hide-lg { display:none!important; }
    @for $i from 1 through 12 {
      .lg-#{$i} { width:$i/12*100%; float:left; }
    }
}