body.overlay-open
  overflow: hidden

.overlay
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 11
  background: rgba($green, 0.95)
  color: white

  .overlay-bg
    position: relative
    color: white
    height: 100%
    overflow: auto
    padding: 30px 0
    box-sizing: border-box

  .cancel
    position: absolute
    top: 0
    right: 0
    z-index: 12
    font-size: 20px
    line-height: 35px
    width: 35px
    height: 35px
    background: white
    text-align: center

    &:hover
      color: $red

  .overlay-flex
    display: flex
    min-height: 100%
    justify-content: center
    align-items: center

    // text-align:center;
    .flex-box
      max-width: 700px
      padding: 0 30px

  h2
    margin: 0 0 40px
    font-size: 5rem

  .job-title
    margin-bottom: 2em
    padding-bottom: 2em
    border-bottom: 1px dashed white

  img
    border-radius: 50%
    max-width: 300px

    @extend .respond

    margin: 0 auto 2em

  .body
    margin-top: 2em

  +show-on($break-small)
    form
      width: 400px

    .cancel
      top: 25px
      right: 30px
      font-size: 5rem
      height: auto
      width: auto
      background: none
      color: white


  #mc-embedded-subscribe-form
    width: 100%

    label, input, button
      display: block
      width: 100%
      box-sizing: border-box

    input
      border: none
      padding: 20px 0
      background: none
      border-bottom: 2px solid white
      margin-bottom: 30px
      transition: border-color 0.2s

      &:focus
        outline: none
        border-color: black

    button
      text-align: left

      span
        float: right
        margin: 0

    .asterisk
      color: $red

  #mc_embed_signup input.mce_inline_error.mce_inline_error
    border-color: $red

  #mc_embed_signup div.mce_inline_error
    font-size: 14px
    background: none
    color: black
    margin: -25px 0 20px 0
    padding: 0
    font-weight: normal

  #mc_embed_signup .response
    margin-bottom: 30px
    font-size: 14px
    color: black
