//base
$base: 1.6em;
$mob-base: 1.1em;
$line-height: 1.5em;

//fonts
$xl: 7rem;
$lg: 2.7rem;
$md: 2.1rem;
$sm: 1.6rem;

//grid
$max-width: 1180px;
$col-gutter: 20px;
$break-small: 549px;
$break-large: 980px;

//colors
$green: #0dbc64;
$grey:  #8f8f8f;
$dgrey: #323232;
$lgrey: #cfcfcf;
$red:   #ff8f66;

//border-radius
$br: 0.7rem;

@mixin show-on($media){
  @media only screen and (min-width:$media) { @content; }
}
