%footer#page-footer
  .row.block-links
    .col.lg-4
      %section
        %ul
          %li
            %span.fa.fa-twitter
            %a{ href: data.links.twitter_hg, target: '_blank' } @Headless_Ghost
          %li
            %span.fa.fa-newspaper-o
            %a{ href: data.links.news, target: '_blank' } News
          %li
            %span.fa.fa-external-link-square
            %a{ href: data.links.kickstarter, target: '_blank' } Kickstarter Campaign
    .col.lg-4
      %section
        %ul
          %li
            %span.fa.fa-question-circle
            %a{ href: '/faq.html' } FAQ
          %li
            %span.fa.fa-envelope
            %a{ href: data.links.email } Contact Us
          %li
            %span.fa.fa-twitter
            %a{ href: data.links.web_dj, target: '_blank' } @DevrajJoshi
    .col.lg-4
      %section
        %ul
          %li
            %span.fa.fa-external-link-square
            %a{ href: data.links.web_dj, target: '_blank' } go2dev.co.uk
          %li
            %span.fa.fa-external-link-square
            %a{ href: data.links.web_gw, target: '_blank' } garethweaver.com
          %li
            %span.fa.fa-twitter
            %a{ href: data.links.twitter_gw, target: '_blank' } @garethdweaver
  .row
    .col.lg-12
      .footnote
        %p
          &copy; Headless Ghost Ltd 2018 - Special thanks to
          %a{ href: data.links.twitter_gw, target: '_blank' } Gareth,
          %a{ href: data.links.web_ce, target: '_blank' } Chris,
          %a{ href: data.links.web_tw, target: '_blank' } Tom
          &amp;
          %a{ href: data.links.web_nl, target: '_blank' } Norah.
