.row.pre-order
  .col.lg-12
    %p
      %strong July 14th 2015 - Update:
    %p
      Production of the next batch of Headless Ghost modules is taking slightly longer than expected - we are working out the last few kinks in the supply line and hope to have more units available soon.
      %a{ :'ng-click' => "Overlay.openOverlay('preOrder')" } Register your interest
      for further updates via email.
.row.pre-order
  .col.lg-12
    %p
      %strong May 2nd 2015 - Update:
    %p
      Wow, things have gone really well post-kickstarter. We've just sold all the ghosts that came off the intial production run! If you're looking to buy you can
      %a{ :'ng-click' => "Overlay.openOverlay('preOrder')" } register your interest
      to buy one from our next run.
    %p{ :'ng-controller' => 'TimerController' }
      Next production run in:
      %strong{ :'ng-cloak' => '' } {{orderDate}}
