.top-banner
  .row
    .col.lg-12
      %a{ 'scroll-to': 'buy-one', duration: '1000' }
        %strong Headless Ghosts in stock in the UK, USA & AUS
      \- Updated 20/02/2016

.intro

  %header#page-header
    .row.bg-img
      %a{ href: 'https://www.kickstarter.com/projects/devjoshi/headless-ghost', target: '_blank' }
        %img.flash-kickstarter{ src: '/assets/images/flash-kickstarter.png', alt: 'As seen on kickstarter - 325% funded!' }
      .col.lg-12
        .row
          .col.lg-5
            %h1 Headless Ghost
            %h2 A display emulator for digital video interfaces that fits discreetly into your computer.
        %a.btn.primary.shop-now{ 'scrollto': 'buy-one', duration: '1000' }
          %img.flash-ghost{ src: '/assets/images/flash-ghost.png' }
          Shop Now
        %a.btn.clear{ href: 'http://us9.campaign-archive1.com/?u=34295251abd853452967fd105&id=4d0749211d', target: '_blank' }
          %span.fa.fa-exclamation-triangle
          News

  %section#features
    .row
      .col.lg-6
        .item
          .icon
            %span.fa.fa-desktop
          Emulates a high resolution display up to 4096x2160 (4K)
        .item
          .icon
            %span.fa.fa-thumbs-up
          Works with Windows, OSX, Linux and just about everything else
        .item
          .icon
            %span.fa.fa-compress
          Ultra-compact, low profile design
        .item
          .icon
            %span.fa.fa-ban
          No drivers, no configuration, no power cable - just set and forget
      .col.lg-6
        .item
          .icon
            %span.fa.fa-tachometer
          Allows for high resolution, GPU accelerated remote desktop
        .item
          .icon
            %span.fa.fa-bitcoin
          Acts as a dummy plug for use with GPGPU tasks such as crypto currency mining
        .item
          .icon
            %span.fa.fa-gamepad
          Works great with Virtual Desktop on Oculus Rift & HTC Vive
        .item
          .icon
            %span.fa.fa-plane
          Sold and shipped worldwide by our partners

  .row
    .col.lg-12
      %img.respond.hide-lg{ src: '/assets/images/img-ghost-mob.jpg', alt: 'headless ghost chip' }

.content

  %section#what-is-it
    .row
      .col.lg-12
        %hr
    .row
      .col.lg-6
        %h1 What is this thing?
        %p Headless Ghost is a display emulator (dummy plug) that fits discreetly in to the video output socket on your computer.
        %p Once the Headless Ghost is attached, your operating system detects a connected display and enables the GPU. The GPU hardware is often disabled until a display is attached resulting in poor performance and a limited working resolution for remote users.
        %p With the GPU enabled, it is possible to perform for various tasks including high resolution hardware accelerated remote desktop and GPGPU operations like crypto currency mining.
      .col.lg-6.img-padd
        %img.respond{ src: '/assets/images/img-drawing-2.gif', alt: 'headless ghost chip', srcset: '/assets/images/img-drawing-2-retina.gif 2x' }

  %section#product-specification
    .row
      .col.lg-12
        %hr
    .row
      .col.lg-6
        %h1 Product spec<span class="hide-mob">ifications</span>
        %ul.bullets
          %li
            %span.fa.fa-circle
            Supports resolutions from 800x600 up to 4096x2160
          %li
            %span.fa.fa-circle
            Plug and play on Windows, OSX and Linux
          %li
            %span.fa.fa-circle
            No drivers, no external power supply, no set up
          %li
            %span.fa.fa-circle
            New version assembled with a minimal protective case
      .col.lg-6.img-padd
        %img.respond{ src: '/assets/images/img-drawing-1.gif', alt: 'headless ghost chip', srcset: '/assets/images/img-drawing-1-retina.gif 2x' }

  %section#buy-one
    .row
      .col.lg-12
        %hr
    .row
      .col.lg-6
        %h1 I want one!
    .row.pre-order
      .col.lg-12
        %p
          %strong February 20th 2016 - Update:
        %p Headless Ghost modules are back in stock and availabe to order now in the UK, the USA and Australia! Stay up to date with Headless Ghost News by <a ng-click="Overlay.openOverlay('preOrder')">signing up for updates</a> or following us on <a href="https://twitter.com/Headless_Ghost" target="_blank">Twitter</a>.
    .row.pre-order
      .col.lg-12
        %p
          %strong October 2nd 2015 - Update:
        %p Headless Ghost modules are being used to power Newer Tech's HDMI Headless adapters and are availabe to order now! You can read more about it and other things that are changes in the <a href="http://us9.campaign-archive1.com/?u=34295251abd853452967fd105&id=4d0749211d" target="_blank">latest newsletter</a>. Stay up to date with Headless Ghost News by <a ng-click="Overlay.openOverlay('preOrder')">signing up for updates</a>.

    .row
      .col.lg-12
        %table
          %tr
            %td.links
              %a{ href: 'https://www.macfixit.com.au/newertech-hdmi-headless-video-accelerator/', target: '_blank' }
                %span.black
                  %span.fa.fa-chevron-right
                %span.text AUS - Buy now!
            %td.green
              Direct from Macfixit Australia
            %td
              %img.chip{ src: '/assets/images/ico-ghost.png', alt: 'Icon', width: '35' }
          %tr
            %td.links
              %a{ href: 'http://www.megamac.com/products/newertech-hdmi-headless-video-accelerator-nwtadp4khead?variant=8285617797', target: '_blank' }
                %span.black
                  %span.fa.fa-chevron-right
                %span.text UK - Buy now!
            %td.green
              Direct from MEGAMAC
            %td
              %img.chip{ src: '/assets/images/ico-ghost.png', alt: 'Icon', width: '35' }
          %tr
            %td.links
              %a{ href: 'http://eshop.macsales.com/item/NewerTech/ADP4KHEAD/', target: '_blank' }
                %span.black
                  %span.fa.fa-chevron-right
                %span.text USA - Buy now!
            %td.green
              Direct from OWC
            %td
              %img.chip{ src: '/assets/images/ico-ghost.png', alt: 'Icon', width: '35' }

%footer#page-footer
  .row.block-links
    .col.lg-4
      %section
        %ul
          %li
            %span.fa.fa-twitter
            %a{ href: 'https://twitter.com/Headless_Ghost', target: '_blank' } @Headless_Ghost
          %li
            %span.fa.fa-envelope
            %a{ href: 'mailto:contact@headlessghost.com' } Contact Us
          %li
            %span.fa.fa-external-link-square
            %a{ href: 'https://www.kickstarter.com/projects/devjoshi/headless-ghost', target: '_blank' } Kickstarter Campaign
    .col.lg-4
      %section
        %ul
          %li
            %span.fa.fa-twitter
            %a{ href: 'https://twitter.com/DevrajJoshi', target: '_blank' } @DevrajJoshi
          %li
            %span.fa.fa-twitter
            %a{ href: 'https://twitter.com/garethdweaver', target: '_blank' } @garethdweaver
    .col.lg-4
      %section
        %ul
          %li
            %span.fa.fa-external-link-square
            %a{ href: 'http://www.go2dev.co.uk', target: '_blank' } go2dev.co.uk
          %li
            %span.fa.fa-external-link-square
            %a{ href: 'http://www.garethweaver.com', target: '_blank' } garethweaver.com
  .row
    .col.lg-12
      .footnote
        %p
          &copy; Devraj Joshi 2014-2015 - Special thanks to
          %a{ href: 'https://twitter.com/garethdweaver', target: '_blank' } Gareth,
          %a{ href: 'http://chrisedson.co.uk/', target: '_blank' } Chris,
          %a{ href: 'http://www.tomwakeling.co.uk/', target: '_blank' } Tom
          &amp;
          %a{ href: 'http://uk.linkedin.com/in/norahlewis', target: '_blank' } Norah.


= partial 'assets/partials/mailchimp'
