.top-banner
  .row
    .col.lg-12
      %a{ :'scroll-to' => 'buy-one', duration: '1000' }
        %strong Headless Ghosts are Back in Stock
      \- Updated 02/010/2015

.intro

  %header#page-header
    .row.bg-img
      %a{ :href => 'https://www.kickstarter.com/projects/devjoshi/headless-ghost', :target=>'_blank' }
        %img.flash-kickstarter{ :src=>'/assets/images/flash-kickstarter.png', :alt=>'As seen on kickstarter - 325% funded!' }
      .col.lg-12
        .row
          .col.lg-5
            %h1 Headless Ghost
            %h2 A display emulator for digital video interfaces that fits discreetly into your HDMI port.
        %a.btn.primary.shop-now{ :'scroll-to' => 'buy-one', duration: '1000' }
          %img.flash-ghost{ :src=>'/assets/images/flash-ghost.png' }
          Shop Now
        %a.btn.clear{ href: 'http://us9.campaign-archive1.com/?u=34295251abd853452967fd105&id=4d0749211d', target: '_blank' }
          %span.fa.fa-exclamation-triangle
          News
        %a.btn.clear{ :'scroll-to' => 'page-footer', duration: '1000' }
          %span.fa.fa-file-text
          Docs

  %section#features
    .row
      .col.lg-6
        .item
          .icon
            %span.fa.fa-desktop
          Emulates a high resolution display up to 4096x2160 (4K)
        .item
          .icon
            %span.fa.fa-thumbs-up
          Works with Windows, OSX, Linux and just about everything else
        .item
          .icon
            %span.fa.fa-ban
          No drivers, no configuration, no power cable - just set and forget
      .col.lg-6
        .item
          .icon
            %span.fa.fa-tachometer
          Allows for high resolution, GPU accelerated remote desktop
        .item
          .icon
            %span.fa.fa-bitcoin
          Acts as a dummy plug for use with GPGPU tasks such as crypto currency mining
        .item
          .icon
            %span.fa.fa-plane
          Sold and shipped worldwide starting at just &pound;15 per ghost

  .row
    .col.lg-12
      %img.respond.hide-lg{ :src=>'/assets/images/img-ghost-mob.jpg', :alt=>'headless ghost chip' }

.content

  %section#what-is-it
    .row
      .col.lg-12
        %hr
    .row
      .col.lg-6
        %h1 What is this thing?
        %p Headless Ghost is a display emulator (dummy plug) that fits discreetly in to the HDMI socket on your computer.
        %p Once the Headless Ghost is attached, your operating system detects a connected display and enables the GPU. The GPU hardware is often disabled until a display is attached resulting in poor performance and a limited working resolution for remote users.
        %p With the GPU enabled, it is possible to perform for various tasks including high resolution hardware accelerated remote desktop and GPGPU operations like crypto currency mining.
      .col.lg-6.img-padd
        %img.respond{ :src=>'/assets/images/img-drawing-2.gif', :alt=>'headless ghost chip', :srcset=>'/assets/images/img-drawing-2-retina.gif 2x' }

  %section#product-specification
    .row
      .col.lg-12
        %hr
    .row
      .col.lg-6
        %h1 Product spec<span class="hide-mob">ifications</span>
        %ul.bullets
          %li
            %span.fa.fa-circle
            Supports resolutions from 800x600 up to 4096x2160
          %li
            %span.fa.fa-circle
            Plug and play on Windows, OSX and Linux
          %li
            %span.fa.fa-circle
            No drivers, no external power supply, no set up
          %li
            %span.fa.fa-circle
            Manufactured in the United Kingdom, shipped worldwide
          %li
            %span.fa.fa-circle
            Assembled on black PCBs with a corrosion resistant gold finish
          %li
            %span.fa.fa-circle
            Exposed programming port for the downloading of new EDID profiles - use the Headless Ghost to emulate a different display!
      .col.lg-6.img-padd
        %img.respond{ :src=>'/assets/images/img-drawing-1.gif', :alt=>'headless ghost chip', :srcset=>'/assets/images/img-drawing-1-retina.gif 2x' }

  %section#buy-one
    .row
      .col.lg-12
        %hr
    .row
      .col.lg-6
        %h1 I want one!
    .row.pre-order
      .col.lg-12
        %p
          %strong October 2nd 2015 - Update:
        %p Headless Ghost modules are being used to power Newer Tech's HDMI Headless adapters and are availabe to order now! You can read more about it and other things that are changes in the <a href="http://us9.campaign-archive1.com/?u=34295251abd853452967fd105&id=4d0749211d" target="_blank">latest newsletter</a>. Stay up to date with Headless Ghost News by <a ng-click="Overlay.openOverlay('preOrder')">signing up for updates</a>.

    .row
      .col.lg-12
        %table
          %tr
            %td.links
              %a{ href: 'http://eshop.macsales.com/item/NewerTech/ADP4KHEAD/', target: '_blank' }
                %span.black
                  %span.fa.fa-chevron-right
                %span.text Buy now!
            %td.green
              Direct from OWC
            %td
              %img.chip{ :src=>'/assets/images/ico-ghost.png', :alt=>'Icon', :width=>'35' }
          %tr
            %td.links
              %a{ :href=>'mailto:sales@headlessghost.com?Subject=Web%20Enquiry%20//%20HG%20Bulk%20Order&Body=Hello%21%20Thanks%20for%20your%20interest%20in%20a%20larger%20order%20of%20Headless%20Ghost%20modules%2C%20please%20can%20you%20fill%20in%20the%20information%20below%20along%20with%20any%20other%20details%20and%20I%27ll%20get%20back%20to%20you%20as%20soon%20as%20I%20can%20with%20a%20quote.%0A%0A---------------------%0A%0AContact%20person%3A%0ACompany%3A%0ATelephone%3A%0ASector/application%3A%0ACountry%3A%0AQuantity%3A%0A%0A%0A------------%0Aheadlessghost.com%0A@headlessghost' }
                %span.black
                  %span.fa.fa-chevron-right
                %span.text Bulk order 25+
            %td.green
              Priced on request <br>Save on shipping
            %td
              %img.chip{ :src=>'/assets/images/ico-ghost.png', :alt=>'Icon', :width=>'25' }
              %img.chip{ :src=>'/assets/images/ico-ghost.png', :alt=>'Icon', :width=>'25' }
              %img.chip{ :src=>'/assets/images/ico-ghost.png', :alt=>'Icon', :width=>'25' }
              %img.chip{ :src=>'/assets/images/ico-ghost.png', :alt=>'Icon', :width=>'25' }
              %img.chip{ :src=>'/assets/images/ico-ghost.png', :alt=>'Icon', :width=>'25' }
              %br
              %img.chip{ :src=>'/assets/images/ico-ghost.png', :alt=>'Icon', :width=>'25' }
              %img.chip{ :src=>'/assets/images/ico-ghost.png', :alt=>'Icon', :width=>'25' }
              %img.chip{ :src=>'/assets/images/ico-ghost.png', :alt=>'Icon', :width=>'25' }
              %img.chip{ :src=>'/assets/images/ico-ghost.png', :alt=>'Icon', :width=>'25' }
              %img.chip{ :src=>'/assets/images/ico-ghost.png', :alt=>'Icon', :width=>'25' }
          %tr
            %td.links
              %a{ :href=>'http://www.sculpteo.com/en/s/headlessghost/', :target=>'_blank' }
                %span.black
                  %span.fa.fa-chevron-right
                %span.text 3D print a case
            %td.green
              Direct from Sculpteo
            %td
              %img.chip{ :src=>'/assets/images/ico-kickstarter.png', :alt=>'Icon', :width=>'45' }

    .row
      .col.lg-12
        %p.shipping
          %span.fa.fa-plane
          Please be aware that shipping is calculated at checkout.

%footer#page-footer
  .row.block-links
    .col.lg-4
      %section
        %ul
          %li
            %span.fa.fa-file-text
            %a{ :href => '/res/Docs/HG_UserGuide.pdf' } User Guide
          %li
            %span.fa.fa-bullhorn
            %a{ :href => '/res/Docs/HG_PressPack.zip' } Press Pack
          %li
            %span.fa.fa-file-text
            %a{ :href => '/res/Docs/HG_Terms_and_Conditions.pdf', :target=>'_blank' } Terms &amp; Conditions
          %li
            %span.fa.fa-envelope
            %a{ :href => 'mailto:contact@headlessghost.com' } Contact Us
          %li
            %span.fa.fa-external-link-square
            %a{ :href => 'https://www.kickstarter.com/projects/devjoshi/headless-ghost', :target=>'_blank' } Kickstarter Campaign
    .col.lg-4
      %section
        %ul
          %li
            %span.fa.fa-file-text
            %a{ :href => '/res/Docs/HG_SpecificationSheet_w.pdf' } Datasheet
          %li
            %span.fa.fa-cube
            %a{ :href => '/res/3D/HeadlessGhost_Module.zip' } 3D Model of Module
          %li
            %span.fa.fa-cube
            %a{ :href => '/res/3D/HeadlessGhost_Case.zip' } 3D Model of Case
          %li
            %span.fa.fa-twitter
            %a{ :href => 'https://twitter.com/Headless_Ghost', :target => '_blank' } @Headless_Ghost
    .col.lg-4
      %section
        %ul
          %li
            %span.fa.fa-twitter
            %a{ :href => 'https://twitter.com/DevrajJoshi', :target => '_blank' } @DevrajJoshi
          %li
            %span.fa.fa-twitter
            %a{ :href => 'https://twitter.com/garethdweaver', :target => '_blank' } @garethdweaver
          %li
            %span.fa.fa-external-link-square
            %a{ :href => 'http://www.go2dev.co.uk', :target => '_blank' } go2dev.co.uk
          %li
            %span.fa.fa-external-link-square
            %a{ :href => 'http://www.garethweaver.com', :target => '_blank' } garethweaver.com
  .row
    .col.lg-12
      .footnote
        %p
          &copy; Devraj Joshi 2014-2015 - Special thanks to
          %a{ :href=>'https://twitter.com/garethdweaver', :target=>'_blank' } Gareth,
          %a{ :href=>'http://chrisedson.co.uk/', :target=>'_blank' } Chris,
          %a{ :href=>'http://www.tomwakeling.co.uk/', :target=>'_blank' } Tom
          &amp;
          %a{ :href=>'http://uk.linkedin.com/in/norahlewis', :target=>'_blank' } Norah.


= partial 'assets/partials/mailchimp'
